<div class="card-content blue lighten-2 white-text z-depth-3">
  <h3>Organizations</h3>
  <p>Let's get started! Select a cause that you're passionate about to see a list of organization shtat correspond with it. </p>

</div>
