<div class="card-content blue lighten-2 white-text z-depth-3">
  <h3>Welcome to Active.Us!</h3>
  <p>Thanks for visiting!</p>
  <p>Active.Us is a tool that is desgined to connect users to various nonprofits and volunteer organizations in the Portland metro area. Our goal is to provide a resource that people can consult when they are looking for various ways to get involved in their community.</p>
  <p>To get started, navigate to the "organizations" section at the top of the page. From there, you can check out various organizations based on their category.</p>
  <p>If you would like your nonprofit or community organization to be hosted on our site, please contact us!</p>
</div>
